<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section>
      <h1>Simple AI Bot</h1>
      <h2>with Web Speech API</h2>

      <button><i class="fa fa-microphone"></i></button>

      <div>
        <p>You said: <em class="output-you">...</em></p>
        <p>Bot replied: <em class="output-bot">...</em></p>
      </div>
    </section>
    <script
      src="https://cdn.socket.io/4.7.4/socket.io.min.js"
      integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>
  </body>
</html>
